---
import Analytics from './vue/Analytics.vue'
---

<footer class="p-5 bg-neutral-200 rounded-lg shadow dark:bg-neutral-900/40 mt-20">
  <Analytics client:only />
  <hr class="my-6 border-gray-400 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-gray-500 text-center dark:text-gray-400">2024 Created by dagamdev</span>
</footer>
