<header class='flex sticky p-5 top-0 mx-auto justify-between items-center w-full xl:w-[1200px]'>
  <a href="/">
    <img class='rounded-full size-9 sm:size-[50px]' src='/my_profile.jpg' alt='my profile' width='50' height='50'>
  </a>

  <nav class="flex flex-row gap-x-4 sm:gap-x-6 md:gap-x-10">
    <a class="hover:underline" href="#top">Home</a>
    <a class="hover:underline" href="#about">About</a>
    <a class="hover:underline" href="#projects">Projects</a>
    <a class="hover:underline" href="#contact">Contact</a>
  </nav>
</header>
