---
import { NAVIGATION_PATHS } from '@/utils/constants'
---

<header class='sticky p-5 top-0 w-full transition duration-300'>
  <div class="flex justify-between items-center mx-auto xl:w-[1200px] w-full">
    <a href="/">
      <img class='rounded-full size-9 border sm:size-[50px] border-gray-900 dark:border-white' src='/my_profile.jpg' alt='my profile' width='50' height='50'>
    </a>
  
    <nav class="flex flex-row gap-x-4 sm:gap-x-6 md:gap-x-10">
      {NAVIGATION_PATHS.map(n => <a class="hover:underline" href={n.path}>{n.name}</a>)}
    </nav>
  </div>
</header>

<script>
  document.addEventListener('scroll', (ev) => {
    const header = document.querySelector('header')
    const className = ['backdrop-blur', 'bg-gray-400/10', 'dark:bg-gray-800/10', 'shadow-lg', 'shadow-gray-400/1']
    if (window.scrollY > 80) {
      header?.classList.add(...className)
    } else {
      header?.classList.remove(...className)
    }
  })
</script>

<style>
  header.active{
    backdrop-filter: blur(10px);
    box-shadow: ;
  }
</style>
