---
interface Props {
	href: string
}

const { href } = Astro.props
---

<a class="flex gap-x-2 text-sm md:text-base items-center rounded-full py-1 sm:py-2 px-3 sm:px-4 border border-gray-900/20 dark:border-white/20 bg-gray-800/5 dark:bg-white/5 hover:scale-105 hover:bg-gray-800/10 dark:hover:bg-white/10 transition" 
	href={href} target="_blank">
	<slot />
</a>
