---
import { PROJECTS } from '@/library/notion'
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Project from '@/components/Project.astro'

export function getStaticPaths() {
  return PROJECTS.map(p => ({params: {id: p.id}}))
}

const { id } = Astro.params

const project = PROJECTS.find(p => p.id == id)
---

<Layout title='David Garcia | Proyectos' description='Desarrollador Web'>
  <main class="mt-10">
    <SectionContainer>
      {project !== undefined && <Project project={project} fullDescription />}
    </SectionContainer>
  </main>
</Layout>