---
import Layout from '@/layouts/Layout.astro'
import { PROJECTS } from '@/library/notion'
import ProjectCard from '@/components/ProjectCard.astro'
import SectionContainer from '@/components/SectionContainer.astro'
---

<Layout title="Proyectos | David Garcia" description='Lista de proyectos Web desarrollados por David Garcia'>
  <main>
    <SectionContainer>
      <ul class="flex flex-wrap gap-4">
        {PROJECTS.map(p => <ProjectCard project={p} />)}
      </ul>
    </SectionContainer>
  </main>
</Layout>